<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="style.css">
    <style>
        
    </style>
    
</head>
<body>
       <header>
         <div class="container">
                <h1>WolvyN Weather</h1>
                <p>Weather App</p>
         </div>
    </header>
    <main>
    <section>
        <form action="">
        <input type="text" id="city-input" placeholder="Enter city name">
        <button id="city-input-button">Get Weather</button>
         <h3 id="city-name">Pune,IN</h3>
         <p id="date">Saturday,18 oct 2025</p>
         <img id="weather-icon" src="https://openweathermap.org/img/wn/01d@2x.png" alt="Weather Icon">
         <p id="temperature">27°C</p>
         <p id="description">Sunny</p>
         <p id="wind-speed ">wind:5 m/s</p>
        </div>
       </form>  
    </section>
</main>

<footer>
    <p>@2025 |WolvyN </p>
</footer>
</body>

</html>